*{
    margin: 0;
    padding: 0;
    
}
header{
    background-image: url("./images/desktop/image-header.jpg");
    box-sizing: border-box;
    background-size: 100vw 70vh;
    background-repeat: no-repeat;
    height: 70vh; 
    color: white;
    padding: 20px;
    font-family: 'Barlow', sans-serif;
   
}
.head{
    display: flex;
    justify-content: space-between;
    
}
.menu{display: flex;
    list-style: none;
    
}
.menu li{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    padding: 10px;
   
}

.menu li:hover{
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 20px;
    text-transform: uppercase;
}

.titulohead{
    padding: 20px;
    font-size: 40px;
    font-weight: 600;

}
.creativeHead{
   font-size: 50px;
   margin-top: 3%;
   letter-spacing: 15px;
   font-family: 'Fraunces', serif;
   text-align: center;
}

.arrow{
   margin-left: 49%;
margin-top: 5%;}

.service{
    display: grid;
grid-template-columns: auto auto;
padding: 0px;
margin-right: 0px;
align-items: center;

}

.service img{
    width: 50vw;
    height: 50vh;
    
      
}
.text{
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Fraunces', serif;
    color: hsl(210, 4%, 67%);
    
   
}
.title{
font-size: 30px;
color: hsl(212, 27%, 19%);
margin-bottom: 5%;
}

#first{
grid-area: 1/1;  
}
    
.learn{
    margin-top: 10%;
    margin-left: 3%;
    color: hsl(212, 27%, 19%);
    border-bottom: hsla(51, 100%, 85%, 0.795) solid 8px;
    width: 25%;
    border-radius: 4px;
    
}

.learn1{
    margin-top: 10%;
    margin-left: 3%;
    color: hsl(212, 27%, 19%);
    border-bottom: hsla(7, 91%, 68%, 0.473) solid 8px;
    width: 25%;
    border-radius:4px;
}

